<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Tailwind CSS with DaisyUI Plugin -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        // Tailwind CSS and DaisyUI configuration
        tailwind.config = {
            darkMode: 'class', // Enables dark mode with a class
            plugins: [daisyui],
            daisyui: {
                themes: ["light", "dark"], // Enables both light and dark themes
            },
        };
    </script>
    <title>IMX Application Landing Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Custom styles for SVG wrapper */
        .svg-wrapper {
            position: relative;
            width: 100%;
            height: 9rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .svg-wrapper img {
            transform: scale(1.25);
            transform: translate(-12.5%, 0);
            transform-origin: center;
            max-width: none;
            max-height: none;
        }
    </style>
</head>

<body class="bg-base-200 text-base-content dark:bg-gray-900 dark:text-gray-100">

    <div class="container mx-auto p-12 bg-base-300 shadow-xl rounded-xl mt-10 space-y-12">

        <!-- Header Section -->
        <div class="text-center mb-8">
            <h1 class="text-5xl font-extrabold text-primary mb-6">Welcome to the IMX Icon Library</h1>
            <p class="text-lg text-base-content mb-4">
                <a href="https://www.open-imx.nl" target="_blank" class="text-primary hover:underline">Part of the open-imx initiative.</a>
            </p>

            <p class="text-xl text-base-content mb-6">
                IMX is a specialized data format created to describe the Dutch railway system with a strong emphasis on geographical details, rather than relying on traditional schematic diagrams to represent the network.
            </p>

            <p class="text-lg text-base-content">
                Traditional schematic diagrams use various icons to represent components like signals, switches, and tracks. To make IMX data more user-friendly, this service provides a way to generate an icon for any IMX object based on its properties. This means the same set of icons can be used consistently across Geographic Information Systems (GIS) and web applications, resulting in a more intuitive and unified visual representation of railway systems.
            </p>
        </div>

        <!-- Icons Version Cards -->
        <div class="flex flex-wrap justify-center gap-8 mb-8">
            {% for version in imx_versions %}
                <a href="/{{ version }}/icons" class="card w-72 bg-base-100 shadow-lg hover:shadow-2xl hover:scale-105 transform transition-all rounded-lg overflow-hidden">
                    <div class="card-body items-center text-center p-6">
                        <h3 class="card-title text-2xl font-semibold text-primary hover:text-primary-focus transition-colors">Icons Library {{ version }}</h3>
                    </div>
                </a>
            {% endfor %}

            <a href="/docs" class="card w-72 bg-base-100 shadow-lg hover:shadow-2xl hover:scale-105 transform transition-all rounded-lg overflow-hidden">
                <div class="card-body items-center text-center p-6">
                    <h3 class="card-title text-2xl font-semibold text-primary hover:text-primary-focus transition-colors">API Documentation</h3>
                </div>
            </a>
        </div>

        <!-- More Information Section -->
        <div class="text-center">
            <h3 class="text-2xl font-semibold text-base-content">
                For more information, visit:
                <a href="https://www.open-imx.nl" target="_blank" class="text-primary hover:underline">www.open-imx.nl</a>
            </h3>
        </div>

    </div>

</body>

</html>
